.Header{
    background-color: #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 99999999999999999;
    width: 100%;
}

.Header i {
    display: none;
    position: relative;
    padding: 10px;
}

.Header h1 {
    color: #dc3545;
    font-size: 2.5rem;
    margin-left: 2.5%;

}

.Header span {
    color: #fff;
}

.Header nav {
    margin-right: 2.5%;
}

.Header nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.Header nav li a {
    color: #fff;
    width: 0px;
    height: 0px;
    font-size: 1.3rem;
}

.Header nav li a::after {
    content: '';
    width: 0px;
    height: 0px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: .9s;
}

.Header nav li a:hover::after {
    border-bottom: 4px solid #dc3545;
    padding: 0px;
    width: 100%;
}

.active {
    display: none;
}

@media(max-width: 992px) {
    .nav {
        display: none;
    }

    .Header i {
        display: block;
        color: #f7f7f7;
        font-size: 3rem;
    }

    .active {
        display: block;
    }

    .active ul {
        display: flex;
        flex-direction: column;
        padding: 30px;
        background: linear-gradient(rgba(43,42,42,0.170), rgba(46,46,46,0.724));
        position: absolute;
        top: 100px;
        right: 0;
        z-index: 5;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 0 0 4px 4px;
        animation: sobeSecao .8s ease-in-out forwards;
    }
    .active ul li {
        padding: 20px;
    }
    .active li a::after {
        content: '';
        width: 0px;
        height: 0px;
        display: block;
        border-bottom: 4px solid transparent;
        transition: .9s;
    }
    
    .active li a:hover::after {
        border-bottom: 4px solid #dc3545;
        padding: 0px;
        width: 100%;
    }
}

@keyframes sobeSecao {
    from {
      transition: 0.5s;
      transform: translate3d(60px, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }