.cardUl {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  transform: translateY(0);
  animation: cardTrasition 3s ease-in-out infinite;
}

.cardUl li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 10px;
  align-content: center;
  gap: 30px;
  text-align: center;
  width: 20vw;
  background-color: transparent;
  border-radius: 6px;
}

.cardUl img {
  width: 100px;
  background-size: cover;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.cardUl h3 {
  font-size: max(20px, 2vw);
  font-family: "poppins", sans-serif;
  font-weight: 500;
}

.cardUl h3 > strong {
  background: linear-gradient(90deg, #13b0f5 2.6%, #54015f 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardUl li::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-top: 1px solid transparent;
}

.cardUl li::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}

.cardUl li:hover::before {
  width: 100%;
  border-bottom: 1px solid #ff5d56;
  border-right: 1px solid #ff5d56;
  transition: 0.5s ease-in-out;
}

.cardUl li:hover::after {
  width: 100%;
  border-bottom: 1px solid #ff5d56;
  border-left: 1px solid #ff5d56;
  transition: 0.5s ease-in-out;
}
